* {
  padding: 0;
  margin: 0;
}
h1, h3, img {
  padding: 0.3rem 0;
}
body{
  background-color: rgb(136, 183, 66);
  display: flex;
  justify-content: center;
}
main {
  width: 50%;
  /* border: 2px solid black; */
}
.mem-wrapper{
  border-bottom: 0.08rem solid black;
}


img {
  width: 80%;
}

.mem-wrapper-name{
  display: flex;
  justify-content: space-between;
}

.icon {
display: flex;
justify-content: center;
align-items: center;
}
.icon img {
  cursor: pointer;
}

.mem-wrapper-content { 
  display: flex;
  justify-content: center;
 }

.mem-wrapper-content,
.close-icon,
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .mem-wrapper-content {
  display: flex;
}
input[type="checkbox"]:checked ~ .mem-wrapper-name .icon .close-icon {
  display: flex;
}
input[type="checkbox"]:checked ~ .mem-wrapper-name .icon .open-icon {
  display: none;
}

/* У тебя есть строка с id="row"
Она связана с радиокнопкой
В это строке у тебя есть иконка с классом "icon_expanded" и "icon_collapsed"
Ты пишешь #row:checked .icon_expanded { display: visible }
#row:checked .icon_collapsed { display: none } */




/* @media (min-width: 640px) and (max-width: 999px) { */