* {
  padding: 0;
  margin: 0;
}
h1, h3, img {
  padding: 0.9rem 1rem;
}

h3:hover, .icon:hover, .mem-wrapper-content:hover, .mem-wrapper-name:hover, .mem-wrapper-content1:hover, .mem-wrapper-name1:hover  {
  cursor: pointer;
}

h3:active, .icon:active, .mem-wrapper-content:active, .mem-wrapper-content1:active, .mem-wrapper-name:active, .mem-wrapper-name1:active {
  cursor: pointer;
}

h3 {
  height: 1.5rem;
}

body{
  display: flex;
  justify-content: center;
  background: bisque;
}
main {
  background-color: rgb(131, 149, 104);
  padding: 5rem;
  width: 70%;
}
.mem-wrapper, .mem-wrapper1 {
  border-bottom: 0.08rem solid rgb(24, 106, 161);
}

img {
  width: 80%;
}

.mem-wrapper-name, .mem-wrapper-name1{
  display: flex;
  justify-content: space-between;
}

.icon, .icon1 {
display: flex;
justify-content: center;
align-items: center;
}
.icon img {
  cursor: pointer;
}
.icon1 img {
  cursor: pointer;
}

.mem-wrapper-content, .mem-wrapper-content1 { 
  display: flex;
  justify-content: center;
 }

.mem-wrapper-content,
.close-icon,
.open-icon,
input[type="checkbox"] {
  display: none;
}
main:hover .open-icon {
  display: flex;
}

input[type="checkbox"]:checked ~ .mem-wrapper-content {
  display: flex;
}

input[type="checkbox"]:checked ~ .mem-wrapper-name h3 {
  color: rgb(87, 91, 213);
  transition-duration: 0.3s;
}

main:hover input[type="checkbox"]:checked ~ .mem-wrapper-name .icon .close-icon {
  display: flex;
}
main:hover input[type="checkbox"]:checked ~ .mem-wrapper-name .icon .open-icon {
  display: none;
}

.mem-wrapper:hover .mem-wrapper-content {
  display: flex;
}
.mem-wrapper:hover .close-icon {
  display: flex;
}
.mem-wrapper:hover .open-icon {
  display: none;
} 
/* для первого */

.close-icon1,
.open-icon1 {
  display: none;
}

main:hover .close-icon1 {
  display: flex;
}

.mem-wrapper-name1 h3 {
  color: rgb(87, 91, 213);
}
#button-open:checked ~ .mem-wrapper-content1 {
  display: none;
}
#button-open:checked ~ .mem-wrapper-name1 h3 {
  color: black;
  transition-duration: 0.3s;
}
#button-open:checked ~ .mem-wrapper-name1 h3 {
  color: black;
  transition-duration: 0.3s;
}

main:hover #button-open:checked ~ .mem-wrapper-name1 .icon1 .close-icon1 {
  display: none;
}
main:hover #button-open:checked ~ .mem-wrapper-name1 .icon1 .open-icon1 {
  display: flex;
}

.mem-wrapper1:hover .mem-wrapper-content1 {
  display: flex !important;
} 

 .mem-wrapper1:hover .mem-wrapper-name1 .icon1 .close-icon1 {
  display: flex !important;
}
.mem-wrapper1:hover .mem-wrapper-name1 .icon1 .open-icon1 {
  display: none !important;
}

/* вставляем в гитбаш */
/* $  git commit --amend -m "feat: add checked `LANG=en_EN date +'(%a, %b %d, %Y %r)'`" */
